/* The sidepanel menu */
/* PLEASE FIX ME */
.sidepanel {
    position: absolute;
    right: 0; /* Positions the sidebar to the right edge */
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    background-image: url("cbar.png");
    background-size: 100% 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: 1;
    transition: ease-in 0.1s;
    z-index: 10;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    float:right;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
    opacity: 1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    height:500px
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 500px;
  }
  
  .openbtn:hover {
    opacity: 1;
    background-color: #444;
  }
  
.top-banner {
  background-color: rgb(105, 105, 105); /* Dark background color */
  color: white; /* White text color */
  text-align: left; /* Center align text */
  width: 100%; /* Full width */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.top-banner h1 {
  margin-bottom: 10px;
  padding: 1%;
}

.top-banner p {
  margin-bottom: 15px;
}

body {
  background-color: #1a5fb4;
  margin: 0;
  position: static;
}